# Byte-compiled files
*.pyc
__pycache__/

# Virtual environments
.venv/
project_env/

# Build and egg-info files
*.egg-info

# mypy and coverage reports
.mypy_cache/
.coverage
htmlcov/

# Pip cache and general cache
.cache/

# Ignore model-related and audio files
#model/
audio_files/

# Logs and metadata
*.log
.DS_Store
